.event-card {
  img {
    max-height: 30em;
    object-fit: cover;
  }
}

.nav-link {
  &.active {
    border-bottom: 2px solid $gray-600;
    font-weight: bold;
  }
}

.table-clickable {
  tr {
  cursor: pointer;
}
}