
.nav-link {
  &.active {
    background-color: rgba(255, 255, 255, .1);
  }
}

.table-clickable {
  tr {
    cursor: pointer;
  }
}

table {
  .row-muted {
    color: $gray-600;
    font-size: 80%;
  }
}
.cursor-pointer {
  cursor: pointer;
}

.site-header {
  a {
    color: $mdb-color-darken-2;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }
}

.header-img {
  max-height: 25em;
  width: 100%;
  object-fit: cover;
  margin-bottom: 2em;
}

.col-object-meta {
  .meta-label {
    text-transform: uppercase;
  }

  .meta-value {
    font-weight: bold;
  }
}

.side-nav {
  .nav-item {
    .active {
      border-left: 4px solid #4285F4;
      font-weight: bold;
    }
  }
}

.spinner-border {
  width: 5rem;
  height: 5rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}