

.nav-link {
  &.active {
    background-color: rgba(255,255,255,.1);
  }
}

.table-clickable {
  tr {
    cursor: pointer;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.site-header {
  a {
    color: $mdb-color-darken-2;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }
}
.header-img {
  max-height: 25em;
  width: 100%;
  object-fit: cover;
  margin-bottom: 2em;
}


.col-event-meta {
.meta-label {
  text-transform: uppercase;
}

  .meta-value {
    font-weight: bold;
  }
}
