body {
  margin-top: $spacer * 2;
}



#top-nav {
  margin-bottom: 1em;
}


.page-footer {
  margin-top: 3rem;
  padding-top: 1.5rem;

  .footer-copyright {
    padding: 1.5rem;
  }
}

.lang-selector {
  img {
    height: 1em;
    filter: grayscale(40%);
  }

  a {
    text-align: center;
  }
}

.impro-10 {
  display: none;
}

@media (min-width: 768px) {
  .impro-10 {
    display: block;
    transform: rotate(319deg);
    width: 100px;
    height: 50px;
    position: absolute;
    left: -60px;
    top: -40px;
  }
}