body {
  margin-top: $spacer * 2;
}
footer {
  text-align: center;
  font-size: $small-font-size;
  margin-top: $spacer * 5;
  margin-bottom: $spacer * 5;
}

#top-nav {
  margin-bottom: $spacer*2;
  margin-top: $spacer;
}