body {
  margin-top: $spacer * 2;
}



#top-nav {
  margin-bottom: 1em;
}


.page-footer {
  margin-top: 3rem;
  padding-top: 1.5rem;

  .footer-copyright {
    padding: 1.5rem;
  }
}

.lang-selector {
  img {
    height: 1em;
    filter: grayscale(40%);
  }

  a {
    text-align: center;
  }
}