.event-card {
  img {
    height: 15em;
    object-fit: cover;
  }

  .rounded-bottom {

    text-align: center;

    li {
      color: $white;
    }
  }
}

.reversed {
  unicode-bidi:bidi-override;
  direction:rtl;
}
