.event-card {
  img {
    height: 15em;
    object-fit: cover;
  }

  .rounded-bottom {

    [class^=float] {
      padding: 1em .5em;
    }

    .float-right {
      text-align: right;
    }

    .float-left {
      text-align: left;
    }

    .event-tags {
      text-align: center;
      margin-top: .5em;

      .badge {
        margin-right: 1em;
        font-size: $font-size-lg;
        font-variant: small-caps;
        letter-spacing: .1em;
      }
    }

    color: $white;
    padding: 1em .5em;
  }
}

.reversed {
  unicode-bidi:bidi-override;
  direction:rtl;
}
