.overlay-container {
  position: relative;
  display: inline-block;

  .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $teal;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    cursor: pointer;

    &.img-overlay span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $body-bg;
    }
  }
  &:hover .img-overlay {
    opacity: 1;
  }
}