/node_modules
/public/hot
/public/docs
/public/fonts/vendor
/public/images/vendor
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
public/js
public/css
public/stats.json
tests/coverage.xml