/node_modules
/public/hot
public/docs/*
/public/fonts/vendor
/public/images/vendor
/public/storage
/storage/*.key
storage/public
/vendor
/.idea
/.vscode
npm-debug.log
yarn-error.log
.env
public/js
public/css
public/stats.json
build/logs